.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.featured__item {
  flex: 1;
  margin: 0 20px;
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.featured__item:hover {
  background-color: rgb(251, 251, 255);
}
.featured__title {
  font-size: 20px;
  font-weight: bold;
  color: #444;
}
.featured__moneyContainer {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.featured__money {
  font-size: 30px;
  font-weight: 600;
}
.featured__rate {
  display: flex;
  margin-left: 20px;
  align-items: center;
}
.featured__icon {
  font-size: 16px;
  color: green;
  margin-left: 10px;
}
.negative {
  color: red;
}
.featured__sub {
  font-size: 16px;
  color: #666;
}
